<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./head %>
    <title>Login</title>
  </head>
  <body>
    <h1 class="text-danger">Bạn không có quyền truy cập trang này.</h1>

    <a href="/" class="btn btn-info">Trở lại trang chủ</a>
  </body>
</html>
