<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./head %>
    <title>Đăng nhập</title>
  </head>
  <body>
    <a href="/">Trở lại</a>
    <form action="/login" method="post">
      <div class="row mt-5">
        <label class="col-md-3">Tên đăng nhập</label>
        <input class="col-md-9" type="text" name="username" />
      </div>
      <div class="row mt-5">
        <label class="col-md-3">Mật khẩu</label>
        <input class="col-md-9" type="password" name="password" />
        <button class="col-md-3 btn-danger" type="submit">Đăng nhập</button>
      </div>
    </form>
  </body>
  <%- include ./footer%>
</html>
