<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./head %>
    <title>Register</title>
  </head>
  <body>
    <form action="/register" method="post">
      <div class="row mt-5">
        <label class="col-md-3">Tên đăng nhập</label>
        <input class="col-md-9" type="text" name="username" />
      </div>
      <div class="row mt-5">
        <label class="col-md-3">Mật khẩu</label>
        <input class="col-md-9" type="password" name="password" />
      </div>
      <div class="row mt-5">
        <label class="col-md-3">Nhập lại mật khẩu</label>
        <input class="col-md-9" type="password" name="confirmPassword" />
      </div>
      <div class="row mt-5">
        <label class="col-md-3">Role</label>
        <select class="col-md-9" name="role">
          <option value="USER">User</option>
          <!-- <option value="ADMIN" disabled>Admin</option> -->
        </select>
      </div>
      <div class="row mt-5">
        <label class="col-md-3">Tên hiển thị</label>
        <input class="col-md-9" type="text" name="fullname" />
      </div>
      <div class="row mt-5">
        <label class="col-md-3">Tuổi</label>
        <input class="col-md-9" type="number" name="age" />
        <button class="col-md-3 btn-danger" type="submit">Đăng ký</button>
      </div>
    </form>
  </body>
</html>
